<form class="forget-form" (keydown.enter)="$event.preventDefault()">
  
  <div *ngIf="step === 1">
    <h3>RESET PASSWORD</h3>
    <p>Enter your email to get a code</p>
    
    <input type="email" placeholder="Email Address" [(ngModel)]="email" name="email"required />
    <p class="error-message" *ngIf="emailError">{{ emailError }}</p>
    
    <button type="button" (click)="nextStep()" [disabled]="isLoading">
      {{ isLoading ? 'Sending...' : 'Send Code' }}
    </button>
  </div>

  <div *ngIf="step === 2">
    <h3>ENTER DETAILS</h3>
    <input type="text" class="otp-input" maxlength="6" placeholder="000000" [ngModel]="otp" (ngModelChange)="otp = $event" name="otp" />
    <p class="error-message" *ngIf="otpError">{{ otpError }}</p>
    <input type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" />
    <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" />
    <p class="error-message" *ngIf="passwordError">{{ passwordError }}</p>

    <button type="button" (click)="finishReset()" [disabled]="!passwordsMatch()">
      Submit
    </button>
  </div>

  <button type="button" class="back-link" (click)="onback.emit()">
    Back to Login
  </button>
</form>