<div class="sidebar">
    <div class="logo">
    <img src="assets/images/LDCULogo.png" alt="Logo">
    <h2>LICEO SCHOLAR</h2>
    </div>

<ul>
    <li routerLink="/admin-dashboard" routerLinkActive="active">
    <span class="material-icons">dashboard</span>   
        Dashboard
    </li>

    <li routerLink="/admin-students-list" routerLinkActive="active">
    <span class="material-icons">history</span>
    Application List
    </li>

    <li routerLink="/admin-all-students" routerLinkActive="active">
    <span class="material-icons">people</span>
    All Students
    </li>

    <li routerLink="/admin-profile" routerLinkActive="active">
    <span class="material-icons">person</span>
    Profile
    </li>
</ul>

    <div class="logout" (click)="logout()"> 
        <span class="material-icons">logout</span>
        Logout
    </div>
</div>