<form class="signup-form">
  <input
    type="text"
    id="firstName"
    name="firstName"
    [(ngModel)]="firstName"
    placeholder="First Name"
  />

  <input
    type="text"
    id="lastName"
    name="lastName"
    [(ngModel)]="lastName"
    placeholder="Last Name"
  />

  <input
    type="password"
    id="phoneNumber"
    name="phoneNumber"
    [(ngModel)]="phoneNumber"
    placeholder="Phone Number"
  />

  <input
    type="text"
    id="course"
    name="course"
    [(ngModel)]="course"
    placeholder="Course Name"
  />

  <input
    type="email"
    id="schoolEmail"
    name="schoolEmail"
    [(ngModel)]="schoolEmail"
    placeholder="School Email"
  />

  <input
    type="password"
    id="password"
    name="password"
    [(ngModel)]="password"
    placeholder="Password"
  />


  <button type="submit" [disabled]="disabled()" (click)="onsubmitClicked()">
    Sign Up
  </button>
</form>