/* reuse login-form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  margin: 0 auto;
  
  background-color: transparent;
  border-radius: 0.5rem;
}

input {
  
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f0f0f0;
  font-size: 1rem;
}

button {
  
  margin-top: 20px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FDB601;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
}