
<div class="login-container">
<section class="logo-container">
   
   <img src="assets/images/LDCULogo.png" alt="Liceo Logo" class="logo">
   <h1>LICEO SCHOLAR</h1>
</section>
<div class="forms">
   
   <div class="app-login-form">
      
      <app-switch-form (modeChange)="onModeChange($event)" *ngIf="mode() !== 'forget'"></app-switch-form>
      
      <div *ngIf="errorMessage()" class="error-message">{{ '*' + errorMessage() }}</div>

      <app-login-form
         *ngIf="mode() === 'login'"
         [(email)]="email"
         [(password)]="password"
         [disabled]="isLoading()"
         (onsubmit)="handleSubmitClicked()"
         (onforget)="handleForget()">
      </app-login-form>

      <app-forget-pass
         *ngIf="mode() === 'forget'"
         (onback)="mode.set('login')">
      </app-forget-pass>

      <app-signup-form
         *ngIf="mode() === 'signup'"
         [(firstName)]="firstName"
         [(lastName)]="lastName"
         [(course)]="course"
         [(schoolEmail)]="schoolEmail"
         [(password)]="signupPassword"
         [(phoneNumber)]="phoneNumber"
         [(schoolID)]="schoolID"
         [disabled]="isLoading()"
         (onsubmit)="handleSubmitClicked()">
      </app-signup-form>
     
    </div>
 </div>
 
  
</div>