section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 12rem;
  background-color: #43eb34;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  background-color: #ffffff;
}

.post {
  padding: 1rem;
  background-color: #fbb0ff;
  border-radius: 0.5rem;
  max-width: 80%;
  margin: 0 auto;
}