form {
  max-width: 28rem;
  margin: -2.5rem auto 0;
  padding: 2rem;
  background-color: #5a9938;
  border-radius: 0.5rem;
  border: 1px solid #fbd4ff;
}

form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

form .form-group label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

form .form-group input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #fbd4ff;
  background-color: #fff;
}

form button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ba6fff;
  background-color: #b387ff;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}