form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  margin: -2.5rem auto 0;
  padding: 2rem;
  background-color: transparent;
  border-radius: 0.5rem;
 
}
::placeholder {
  color: #b1b1b1;
}


input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f0f0f0;
  font-size: 1rem;
}


button {
  margin-top: 20px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FDB601;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
}

.forgotpassword {
  display: block;        
  background: transparent;
  font-size: 12px;      
  color: #5a0101;
  text-decoration: none;
  padding: 0;            
  margin-top: -10px;             
  text-align: left;      
  width: fit-content;    
}
.forgotpassword:hover {
  text-decoration: underline;  
  opacity: 0.8;
}