<div class="profile-photo-container">
  <input 
    type="file" 
    #fileInput
    accept="image/*"
    (change)="onFileSelected($event)"
    style="display: none"
  />
  
  <div class="photo-edit-container" [style.width]="width" [style.height]="height">
    <div class="photo-wrapper" [style.width]="width" [style.height]="height">
      <img 
        [src]="photoUrl()" 
        alt="Profile Photo" 
        class="profile-photo"
        (click)="editable && fileInput.click()"
        (error)="photoUrl.set('assets/images/default-avatar.png')"
      />
      
      <div class="edit-overlay" *ngIf="editable">
        <img src="assets/images/edit icon.png" alt="Edit" class="edit-icon" />
      </div>
    </div>
    <button 
        *ngIf="editable && !photoUrl().includes('default-avatar')" 
        type="button" 
        class="btn-delete" 
        (click)="deletePhoto()"
        >
        <img src="assets/images/delete.png" alt="Delete" class="delete-icon" [style.width]="editIconSize" [style.height]="editIconSize" />
      </button>
  </div>
</div>
