<div class="dashboard-container">
  <app-admin-sidebar></app-admin-sidebar>

  <main class="main-content">
    <div class="top-row">
      <section class="card activity-chart">
        <h3>User's Colleges</h3>
        <div class="chart-wrapper">
          <canvas #polarChart></canvas>
        </div>
      </section>

      <aside class="side-info">
        <div class="profile-card">
          <app-profile-photo width="145px" height="145px" [editable]="false"></app-profile-photo>
          <p class="name">{{admin().fullName}}</p>
        </div>
        <div class="status-cards">
          <div class="status-box">
            <span>Active</span>
            <h2>{{ admin().activeScholarships }}</h2>
          </div>
          <div class="status-box">
            <span>Total Users</span>
            <h2>{{ admin().totalUsers }}</h2>
          </div>
        </div>
      </aside>
    </div>

    <section class="card activity-chart">
        <h3>Daily Application</h3>
        <div class="chart-wrapper">
          <canvas class="activity-chart-canvas" #activityChart></canvas>
        </div>
      </section>
  </main>
</div>
