$liceo-red: #800000;
$gray-bg: #f5f5f5;

.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 30px 40px;
  background: white;
  overflow-y: auto;
}
.edit-info-btn {
  display: flex;
  margin-top: 20px;
  background: $liceo-red;
  color: white;
  border: none;
  
  
  border-radius: 6px;
  padding: 10px 32px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background: darken($liceo-red, 8%);
  }
}

// PROFILE SECTION
.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.info {
  flex: 1;
  max-width: 1000px;
  margin-right: 440px;
  

  label {
    display: block;
    font-size: 11px;
    color: #888;
    margin-top: 14px;
    margin-bottom: 4px;
  }

  input {
    width: 400px;
    padding: 8px 12px;
    background: #e8e8e8;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #555;
    outline: none;
  }
}

// PROFILE IMAGE
.profile-img-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #d97706;
  }

  .edit-btn {
    position: absolute;
    bottom: 10px;
    right: calc(50% - 150px);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: white;
    border: 0.5px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    box-shadow: 0 1px 4px rgba(0,0,0,0.12);

    &:hover {
      background: #f0f0f0;
    }
  }
}

// APPLY BUTTON
.apply-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 20px;

  .apply-btn {
    background: $liceo-red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 32px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: darken($liceo-red, 8%);
    }
  }
}


.history-table-wrapper {
  max-height: clamp(150px, 10vh, 1000px);
  overflow-y: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0.5px solid #ddd;
  scrollbar-width: none;  // Firefox
  -ms-overflow-style: none;  // IE/Edge
  
  &::-webkit-scrollbar {
    display: none;  // Chrome, Safari, Opera
  }
}

// HISTORY TABLE
.history-table {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px solid #ddd;
}
.requirements-header {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  gap: 16px;
  h4 {
    color: #ff2525;
  }
}
.application-history-header {
  margin-top: 20px;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.table-head {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.2fr 1fr;
  background: $liceo-red;

  span {
    max-height: 400px;
    padding: 14px 16px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-align: center;
    border-right: 0.5px solid rgba(255,255,255,0.2);

    &:last-child {
      border-right: none;
    }
  }
}
.table-head-req {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.2fr;
  background: $liceo-red;

  span {
    max-height: 400px;
    padding: 14px 16px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-align: center;
    border-right: 0.5px solid rgba(255,255,255,0.2);

    &:last-child {
      border-right: none;
    }
  }
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.2fr 1fr;
  border-top: 0.5px solid #eee;

  &:hover {
    background: #fafafa;
  }

  span {
    padding: 12px 16px;
    font-size: 13px;
    color: #333;
    text-align: center;
    border-right: 0.5px solid #eee;

    &:last-child {
      border-right: none;
    }
  }

  .pending  { color: #d97706; font-weight: 600; }
  .finished { color: #6b7280; font-weight: 600; }
  .approved { color: #16a34a; font-weight: 600; }
  .rejected { color: #dc2626; font-weight: 600; }
  .submitted { color: #3b82f6; font-weight: 600; }
  .missing { color: #dc2626; font-weight: 600; }
}
.table-row-req{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.2fr ;
  border-top: 0.5px solid #eee;

  &:hover {
    background: #fafafa;
  }

  span {
    padding: 12px 16px;
    font-size: 13px;
    color: #333;
    text-align: center;
    border-right: 0.5px solid #eee;

    &:last-child {
      border-right: none;
    }
  }

  .pending  { color: #d97706; font-weight: 600; }
  .finished { color: #6b7280; font-weight: 600; }
  .approved { color: #16a34a; font-weight: 600; }
  .rejected { color: #dc2626; font-weight: 600; }
  .submitted { color: #3b82f6; font-weight: 600; }
  .missing { color: #dc2626; font-weight: 600; }
}

// EDIT INFO MODAL
.edit-modal {
  width: 400px;
  padding: 32px;
}

.edit-modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.edit-modal-lable {

  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #666;
  margin-top: 4px;
}

.edit-modal-input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #8b0000;
  }
}

// apply modal
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 10px;
  width: 320px;
  padding: 28px 28px 24px;
  position: relative;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 16px;
  background: none;
  border: none;
  font-size: 16px;
  color: #888;
  cursor: pointer;
  line-height: 1;

  &:hover { color: #333; }
}

.modal-body {
  margin-top: 8px;
  margin-bottom: 28px;
}

.modal-label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;

  .required { color: #dc2626; margin-left: 2px; }
}

.select-wrapper {
  position: relative;

  select {
    width: 100%;
    padding: 10px 36px 10px 12px;
    background: #f0f0f0;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: #333;
    appearance: none;
    cursor: pointer;
    outline: none;

    &:focus { box-shadow: 0 0 0 2px rgba(128, 0, 0, 0.25); }
  }

  .select-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
  }
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .btn-cancel {
    padding: 9px 22px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    font-size: 13px;
    font-weight: 600;
    color: #555;
    cursor: pointer;

    &:hover { background: #f5f5f5; }
  }

  .btn-apply {
    padding: 9px 22px;
    border: none;
    border-radius: 6px;
    background: #800000;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

    &:hover:not(:disabled) { background: #6a0000; }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 768px) {
  .profile-section {
    flex-direction: column;
    align-items: center;
  }

  .info { width: 100%; max-width: 100%; }

  .profile-img-wrapper {
    flex: unset;
    margin-top: 10px;
  }
}